* {
   margin : 0;
}

@font-face { /* 넥슨 NCF */ 
    font-family: 'NEXON Lv1 Gothic OTF'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff'); font-weight: normal; font-style: normal; 
}


html , body { /* 상위 트리에서 전체 100%을 해줘야지 하위 트리가 쓸 수 있다.*/
    width : 100%;
    height : 100%;
    font-family : 'NEXON Lv1 Gothic OTF'; /* 넥슨 공식 텍스트 */
    position : relative;
}

.background { /* 배경화면 css */
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-image : url('../img/gradient.jpg');
    z-index : -2;
}

.background_overlay { /* side 배경화면을 어둡게 해서 콘텐츠 강조 */
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color : rgba(0,0,0,0.5);
    z-index : -1;
} 

main { /* float : left 로 왼쪽 배치 */
    float : left;
    width : 77%;
    height : 100%;
    background-color : white;
    position : relative;
}

header {
    margin : 0 auto;
    padding-top : 80px;
    max-width : 950px;
    border-bottom : 1px solid #efefef;
}

header h1 {
    padding : 20px 0px 20px 0px;
}

header small {
    color : gray;
    
}

section {
    margin : 0 auto;
    max-width : 950px;
    padding-top : 60px;
    font-size : 17px;
}

.side_category { /* 오른쪽 fixed로 고정 right : 0 으로 오른쪽 강제배치 */
    width : 23%;
    height : 100%;
    position : fixed;
    right : 0;
}

